/* styles.css — estilos para Index.html */

/* Estilos mínimos para centrar el texto */
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  margin: 0;
  padding: 0;
  background: #f7f7f8;
  color: #17922b;
}

main {
  text-align: center;
}
main {
    margin-top: 100px; /* cámbialo a 30 o 40 si lo quieres más abajo */
}



h1 {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  margin: 0 0 0.5rem 0;
  color:#15580f;
  background-color: #f0f5ef;
}

p {
  margin: 0;
  color: #1b0606;

main {
    margin-top: 10px; /* cámbialo a 30 o 40 si lo quieres más abajo */
}

main h1 {
    margin-top: 10px;
}

}
/* POSICIÓN EN LA ESQUINA SUPERIOR IZQUIERDA */
.esquina-superior-izq {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 30px;  
    color: #044910;

}

.navbar ul {
    list-style: none;
    display:flex;
    gap:20px;
    margin: 0;
    padding: 0;
}
header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center; 
  padding: 10px 40px;
  position: fixed;
  top: 0;
  left: 0;
  gap: 120px;
  background-color: #f0f5ef;
  z-index: 1000;
  border-bottom: 1px solid #eee;
  
}

 .logo {
  margin: 0;
    font-size: 28px;
    font-weight: bold;
    color: #0A5A24
 }


/* --- MENU --- */
nav ul {
    margin-left: 320px;
    list-style: none;
    display: flex;
    gap: 120px;
    margin: 0;
    padding: 0;
}
nav ul li a {
  text-decoration: none;
  color: #006400;
  font-size: 18px;
  font-weight: 500;


}
nav ul li a:hover {
  color: #004d00;
}

.Modal {
  display: none;
  position: fixed;
  top:0;
  left: 0;
  width:100;
  height: 100%;
  background: rgba(0,0 ,0 ,0.6 );
  justify-content: center;
  align-items: center;
}
.Modal-content {
  opacity: 0;
  background: #fff;
  padding: 20px;
  width: 320%;
  border-radius: 10px;
  text-align: center;
}

.Modal-content input {
  width: 90%;
  padding: 8%;
  margin: 10px 0;

}

.cerrar {
  background: #900;
  color: #fff;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.cotizar-btn {
  padding: 10px;
  background: #0A5A24;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 6px;;

}

.btn-whatsapp {
  background: white;
  border: 2px solid #25D366;
  color: #25D366;
  padding: 10px 18px;
  border-radius: 10px;
  font-weight: 700;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  text-decoration: none;
  margin-top: 30px;

}

.btn-whatsapp i {
  font-size: 20px;
}

.cards-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap:20px;
  margin-top: 40px;
  margin: 100px 0;
}

.card {
  position: relative;
  width: 300px;
  background: #ffffff;
  padding: 25 px;
  border-radius: 14px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.7);
  border: 1px solid #e5e5e5;
  transition: transform 0.2s ease;
  text-align: left;
}

.icono-card {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 26px;
  color: #17922b;
}
 
.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #222;

}

.card p {
  color: #555;
  font-size: 15PX;
}

html {
    scroll-behavior: smooth;
}

.card i {
    font-size: 40px;
    color: rgb(217, 230, 108);   /* puedes cambiarlo */
    margin-bottom: 10px;
}

.requisitos-section {
  padding: 70px 20px;
  text-align: center;
  background: #f5f9f4;
  margin-top: 110px;
}

.requisitos-litle {
  font-size: 2rem;
  color: #15580f;
  margin-bottom: 100px;
  font-weight: 700;
}

.requisitos-grid {
  margin: 90px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 25px;
  max-width: 1000px;
  margin: 0 auto;
}

.requisitos-card {
  background: #ffffff;
  padding: 25px 15px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform .3s ease, box-shadow .3s ease;

}

.requisitos-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);

}

.requisitos-card i {
  font-size: 36px;
  color: #17922b;
  margin-bottom: 15px;
}

.requisito-card p {
    font-size: 1rem;
    margin: 0;
    color: #1b1b1b;
}



.whatsapp-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;        /* separación entre cards y el botón */

}

.whatsapp-btn {
    display: inline-block;
    background: #25D366;
    color: white;
    padding: 14px 26px;
    font-size: 1.1rem;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);

}

.whatsapp-btn:hover {
    background: #1ebe5d;
    transform: translateY(-3px);
}

.whatsapp-btn i {
    margin-right: 10px;
    font-size: 1.3rem;
}



.requisitos-section {
  text-align: center;
  margin-top: 80px;

}
  
.requisitos-litle {
  font-size: 2.4rem;
  font-weight: 800;
  color: #022b42;
  margin-bottom: 5px;

}

.requisitos-sublitle {
  font-size: 1.2rem;
  color: #6b7280;
  margin-bottom: 40px;
}

.requisitos-box {
  width: 65%;
  margin: 0 auto;
  background: #f5f5f5;
  padding: 40px;
  border-radius: 18px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.05); 
  padding-bottom: 70px;
  margin-bottom: 0px;
}

.requisitos-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;

}

.requisitos-list li {
  font-size: 1.15rem;
  margin: 18px 0;
  display: flex;
  align-items: center;
}

.requisitos-list i {
  color: #509106;
  font-size: 1.3rem;
  margin-right: 12px;
}



.whatsapp-center {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.whatsapp-icon {
    font-size: 45px;
    color: #25D366;
    text-decoration: none;
}

.whatsapp-icon:hover {
    transform: scale(1.1);
}


.faq-section {
    text-align: center;
    padding: 50px 20px;
}

.faq-title {
    font-size: 36px;
    font-weight: 800;
    color: #0e6107;
}

.faq-subtitle {
    font-size: 18px;
    color: #02060e;
    margin-top: -5px;
    margin-bottom: 35px;
}

.faq-container {
    max-width: 800px;
    margin: 0 auto;
}

.faq-item {
    border-bottom: 1px solid #d1d5db;
    text-align: left;
    padding: 15px 0;
}

.faq-question {
    width: 100%;
    background: none;
    border: none;
    font-size: 20px;
    color: #075a1e;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px 0;
}

.faq-answer {
    display: none;
    padding: 10px 0 5px 0;
    font-size: 17px;
    color: #4b5563;
    line-height: 1.5;
}

.arrow {
    transition: 0.3s;
}

.faq-item.active .faq-answer {
    display: block;
}

.faq-item.active .arrow {
    transform: rotate(180deg);
}











