/* styles.css — estilos para Index.html */

/* Estilos mínimos para centrar el texto */
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #f7f7f8;
  color: #17922b;
}

main {
  text-align: center;
}

h1 {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  margin: 0 0 0.5rem 0;
  color:#15580f;
  background-color: #f0f5ef;
}

p {
  margin: 0;
  color: #1b0606;
}
/* POSICIÓN EN LA ESQUINA SUPERIOR IZQUIERDA */
.esquina-superior-izq {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 30px;  
    color: #003366;  
}
